<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Management</title>
</head>
<body>

<!-- Mandatory Navigation -->
<%- include('partials/nav') %>

<img src="/images/spotify_logo.png" alt="logo" height="100" width="250">
<h1>This is the Songs Management Page</h1>

<form action="/songs/browse" method="post">
    <input type="text" name="songSearch" id="songSearch" placeholder="🔎What do you want to listen to?" size="25">
    <button type="submit">SEARCH</button>
</form><br>

<table border="1" cellpadding="5" cellspacing="0" width="50%">
    <tr>
        <th></th>
        <th>Songs</th>
        <th>Artist</th>
        <th>Rating</th>
        <th>Reviews</th>
    </tr>

    <% songs.forEach(song => { %>

        <% if (!search || song.songName.toLowerCase().includes(search.toLowerCase())) { %>

            <tr>
                <td width="1">
                    <img src="<%= song.albumCover %>" height="100" width="100">
                </td>

                <td>
                    <font size="5"><%= song.songName %></font>
                </td>

                <td>
                    <font size="5"><%= song.artistName %></font>
                </td>

                <td align="center">
                    <font size="5"><%= song.avgRating.toFixed(1) %></font>
                </td>
                <td>
                    <a href="/reviews-page/song/<%= song._id %>">ADD/CHECK</a>
                </td>
            </tr>

        <% } %>

    <% }); %>

</table>

<a href="#top">Back to the top</a>

<!-- Footer -->
<%- include('partials/footer') %>


</body>
</html>
