<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Edit Playlist</title>
</head>
<body>
    <!-- Mandatory Navigation -->
    <%- include('partials/nav') %>

    <h1>This is the Playlist Management Page</h1>
    <h1><%= playlist ? `Edit ${pname}` : "New Playlist" %></h1>

    <% if (error !== 'undefined' && error) { %>

        <p style="color:red"><%= error %></p>
    <% } %>
    <form action="/playlists/edit" method="post">
        <% if (playlist) {%> 
            <input type="hidden" name="playlistId" value="<%= playlist._id %>">
        <% } %>
    
        <h3>Playlist Name:</h3>
            <input name="pname" value="<%= pname %>" required>
        <br>

        <h3>Add a caption!</h3>
            <br>
            <textarea name="caption"><%= playlist? playlist.caption: "" %></textarea>
        <br><br>

        <h3>Songs:</h3>
            <!--show all songs-->
            <% for (let i=0; i < songs.length; i++) {%>
                <% let isChecked = false %>
                <% let song = songs[i] %>
                <!--if song is checked, true-->
                <% if (playlist) { %>
                    <% for (let j=0; j < playlist.songs.length; j++) {%>
                        <% if (playlist.songs[j].toString()===song._id.toString()) {%>
                            <% isChecked = true %>
                            <% break %>
                        <%}%>
                    <%}%>
                <%}%>
            <!--list song as checkbox to select-->
            <input type="checkbox" name="songs" value="<%= song._id %>" <% if (isChecked){ %> checked <%}%>> 
            <%= song.songName %>    -   <%= song.artistName %>
            <br><br>
            <%}%>

    <button type="submit">
        <%= playlist ? "Update Playlist" : "Create Playlist" %>
    </button>
</form>
    <a href="/auth/home">Back to Home</a>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>

