<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Management</title>
</head>
<body>
    <img src="/images/spotify_logo.png" alt="logo" height="100" width="250">
    <h1>This is the Songs Management Page</h1>

    <a href="/index.html" id="#top"><img src="/images/returnhome.jpg" alt="returnhome" height="50" width="150"></a>
    <br>

    <form action="/songs-page" method="post">
        <input type="text" name="songSearch" id="songSearch" placeholder="🔎What do you want to listen to?" size="25" >
        <button type="submit">SEARCH</button>
    </form><br>

     <% if (!search){ %>
    <table border="2">
        <tr>
            <th></th>
            <th>
                Songs
            </th>
            <th>
                Artist
            </th>
            <th>
                Rating
            </th>
        </tr>
        <% for (let song_id in songs){ %>
        <tr>
            <td>
                <img src="<%=songs[song_id].album_cover %>" height="100" width="100">
            </td>
            <td>
                <%=songs[song_id].name %>
            </td>
            <td>
                <%=songs[song_id].artist %>
            </td>
            <td>
                <%=songs[song_id].avg_review %>
            </td>
        </tr>
        <% } %>
    </table>
    <% }else{%>
        <table border="1">
        <tr>
            <th></th>
            <th>
                Songs
            </th>
            <th>
                Artist
            </th>
            <th>
                Rating
            </th>
        </tr>
        <% for (let song_id in songs){ %>
            <% if (songs[song_id].name.toLowerCase().includes(search.toLowerCase())) {%>
                <tr>
            <td>
                <img src="<%=songs[song_id].album_cover %>" height="100" width="100">
            </td>
            <td>
                <%=songs[song_id].name %>
            </td>
            <td>
                <%=songs[song_id].artist %>
            </td>
            <td>
                <%=songs[song_id].avg_review %>
            </td>
        </tr>
            <% } %>   
        <% } %>
        </table>
    <% } %>
    
    <a href="#top">Back to the top</a>
</body>
</html>