<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artist</title>
</head>
<body>
    <!-- Mandatory Navigation -->
    <!-- Mandatory Navigation -->
    <%- include('partials/nav') %>

    <h1>Update Artist: <%= artist.artistName %></h1>

    <form action="/artists/update" method="post">
        <input type="hidden" name="artistId" value="<%= artist._id %>">

        <label>Artist Image Filename:</label><br>
        <input type="text" name="artistImage" value="<%= artist.artistImage %>" placeholder="e.g. Eminem.jpg">
        | <small>Note: If left blank, it will revert to a default image.</small><br><br>

        <label>Artist Gender:</label><br>
        <input type="radio" id="male" name="artistGender" value="Male" <%= artist.artistGender === 'Male' ? 'checked' : '' %> required>
        <label for="male">Male</label>

        <input type="radio" id="female" name="artistGender" value="Female" <%= artist.artistGender === 'Female' ? 'checked' : '' %> required>
        <label for="female">Female</label>

        <input type="radio" id="other" name="artistGender" value="Other" <%= artist.artistGender === 'Other' ? 'checked' : '' %> required>
        <label for="other">Other</label>
        <br><br>

        <label>Artist Genre:</label><br>
        <% genres.forEach(genre => { %>
            <%
                let isChecked = "";
                <!-- Loop through Artist's Genres -->
                if (artist.artistGenre && Array.isArray(artist.artistGenre)) {
                    for (let currentGenreId of artist.artistGenre) {
                        <!-- Compare IDs as Strings -->
                        if (currentGenreId.toString() === genre._id.toString()) {
                            isChecked = "checked";
                            break;
                        }
                    }
                }
            %>
            <input type="checkbox" id="<%= genre._id %>" name="artistGenre" value="<%= genre._id %>" <%= isChecked %>>
            <label for="<%= genre._id %>"><%= genre.genreName %></label><br>
        <% }) %><br>

        <label>Artist Biography</label><br>
        <textarea name="artistBio" rows="5" cols="60"><%= artist.artistBio %></textarea><br><br>

        <label>Artist Country</label><br>
        <select name="artistCountry" required>
            <% countries.forEach(country => { %>
                <option value="<%= country %>" <%= artist.artistCountry === country ? 'selected' : '' %>>
                    <%= country %>
                </option>
            <% }) %>
        </select><br><br>

        <button type="submit" onclick="return confirm('Are you sure you want to update <%= artist.artistName %>? \nClick OK to Continue!')">Update Artist</button> | 
        <a href="/artists/manage">Cancel</a>
    </form>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>