<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Management</title>
</head>
<body>

<%- include('../partials/nav') %>

<h1>Songs Management Page</h1>

<p>Welcome <%= username %>! Here you can manage the available songs</p>

<% if (msg) { %>
    <div style="color: green; margin-bottom: 10px;">
        <strong><%= msg %></strong>
    </div>
<% } %>
<br>

<a href="/songs/create"><font size="5">ADD SONG</font></a><br><br>

<table border="1" cellpadding="5" cellspacing="0" width="80%">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Song Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% songs.forEach(song => { %>
            <tr>
                <td width="100" align="center">
                    <img src="<%= song.albumCover %>" height="100" width="100" style="object-fit: cover;">
                </td>

                <td>
                    <font size="5"><%= song.songName %></font>
                </td>

                <td>
                    <font size="5">
                        <%# Accessing the populated artistId object #%>
                        <%= song.artistId ? song.artistId.artistName : 'Unknown Artist' %>
                    </font>
                </td>

                <td>
                    <font size="5"><%= song.genreId.genreName %></font>
                </td>

                <td align="center">
                    <font size="5"><%= song.avgRating ? song.avgRating.toFixed(1) : 'N/A' %></font>
                </td>

                <td>
                    <div style="display: flex; gap: 5px;">
                        <form action="/songs/update" method="post">
                            <input type="hidden" name="song" value="<%= song._id %>">
                            <button type="submit">Edit Song</button>
                        </form>

                        <form action="/songs/delete" method="post">
                            <input type="hidden" name="songId" value="<%= song._id %>">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete <%= song.songName %>?\nThis action cannot be undone!')">
                                Delete Song
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<br>
<a href="#top">Back to the top</a>
<%- include('../partials/footer') %>
</body>
</html>