<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Edit Playlist</title>
</head>
<body>
    <!-- Mandatory Navigation -->
    <%- include('../partials/nav') %>

    <h1><%= playlist ? `Edit ${pname}` : "New Playlist" %></h1>

    <% if (error !== 'undefined' && error) { %>

        <p style="color:red"><%= error %></p>
    <% } %>
    <form action="/playlists/edit" method="post">
        <% if (playlist) {%> 
            <input type="hidden" name="playlistId" value="<%= playlist._id %>">
        <% } %>
    
        <h3>Playlist Name:</h3>
            <input name="pname" value="<%= pname %>" required>
        <br>

        <h3>Add a caption!</h3>
            <br>
            <textarea name="caption"><%= playlist? playlist.caption: "" %></textarea>
        <br><br>

        <h3>Songs:</h3>
            <!--show all songs-->
            <table border="1" cellpadding="5" cellspacing="0" width="60%">
    <thead>
        <tr bgcolor="#eeeeee">
            <th></th>
            <th>Songs</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Add Song</th>
        </tr>
    </thead>
    <tbody>
        <% if (songs.length > 0) { %>
            <% songs.forEach(song => { %>
                <tr>
                    <td width="1">
                        <img src="<%= song.albumCover %>" height="100" width="100" alt="Album Cover">
                    </td>

                    <td>
                        <font size="5"><%= song.songName %></font>
                    </td>

                    <td>
                        <font size="5">
                            <%= song.artistId ? song.artistId.artistName : 'Unknown Artist' %>
                        </font>
                    </td>
                    <td>
                        <font size="5"><%= song.genreName %></font>
                    </td>
                    
                    <td align="center">
                        <input type="checkbox" name="songs" value="<%= song._id %>"
                            <% if (playlist && playlist.songs 
                                    && playlist.songs.map(id => id.toString()).includes(song._id.toString())) {%>
                            checked 
                            <% } %> >
                    </td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="6" align="center">
                    <h3>No songs found matching your search.</h3>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>


<br>
    <button type="submit">
        <%= playlist ? "Update Playlist" : "Create Playlist" %>
    </button>
</form>
    <a href="/auth/home">Back to Home</a>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>

